# Exclude virtual environment directories
venv/
.venv/

# Exclude large binaries and shared objects
*.so
*.dll
*.exe
*.bin
*.pth

# Exclude specific problematic files
venv/lib/python3.8/site-packages/torch/lib/libtorch_cpu.so
venv/lib/python3.8/site-packages/torch/lib/libtorch_cuda.so
venv/lib/python3.8/site-packages/cv2/cv2.cpython-38-x86_64-linux-gnu.so
venv/lib/python3.8/site-packages/imageio_ffmpeg/binaries/ffmpeg-linux64-v4.2.2

.idea/
segment-anything/
segment-anything-2/
__pycache__/